* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;

}

h1 {
    font-family: 'Henny Penny', cursive;
    font-size: 80px;
    font-weight: 200px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

p {
    display: flex;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-size: x-large;
    font-weight: x-large;
    padding-bottom: 7px;
}


body {
    margin: 0;
}

.gridparent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #d5d5d5;
}

img {
    max-width: 650px;
}

.plant {
    display: flex;
    justify-content: center;
    background-color: #bababa;
    ;
    padding-top: 20px;
    min-height: 212.24px;
}

.pot {
    display: flex;
    justify-content: center;
    background-color: #b8b8b8;
    padding-bottom: 20px;
    min-height: 212.24px;

}

.vine {
    fill: #9fd68e;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #d5d5d5;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin: 0px;
    padding-top: 200px;
    padding-left: 25px;
    padding-right: 25px;
    Padding-bottom: 50px;

}

.check {
    fill: #555555;
    max-height: 125px;
    padding-right: 40px
}

.check :hover {
    position: relative;
    transition: all .3s;
    fill: black;
}

footer {
    display: flex;
    justify-content: end;
}

p {
    display: flex;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-size: large;
    font-weight: large;
    padding-top: 20px;
    padding-right: 7px;
}